.color1{
    background-color: rgb(255, 0, 140);
    border-radius: 100%;
}

.color2{
    background-color: rgb(197, 4, 155);
    border-radius: 100%;
}

.color3{
    background-color: rgb(221, 109, 236);
    border-radius: 100%;
}

.color4{
    background-color: rgb(192, 11, 111);
    border-radius: 100%;
}

.color5{
    background-color: rgb(136, 20, 190);
    border-radius: 100%;
}

.color6{
    background-color: rgb(235, 82, 82);
    border-radius: 100%;
}

.color7{
    background-color: rgb(112, 10, 66);
    border-radius: 100%;
}
